.post {
    width: auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid #f1f4f9;
    border-radius: 5px;
    margin-top: 1rem;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    display: grid;
    height: 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px auto 50px;
    grid-column-gap: 1rem;
}

.headerImage {
    height: 50px;
    width: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.headerTime {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text {
    padding: 1rem 0;
    border-bottom: 2px solid #ecf1f5;
}

.footer {
    padding: 1rem 0 0 0;
}